user  nobody;
worker_processes  1;


events {
    worker_connections  10240;
}

http {
    include       mime.types;

    server {
        listen 80;
        server_name     ~^(?<app_id>.+)\.wx\.hcmcloud\.cn$;
        location / {
            rewrite ^ https://$app_id.hcmcloud.cn$request_uri permanent;
        }
    }


    server {
        listen 80 default_server;
        location / {
            rewrite ^(.*) https://$server_name$request_uri permanent;
        }

    }
}
